/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.text {
  margin-top: 20px;
  flex: 1;
}

h1 {
  color: #333;
  font-size: 24px;
}

p {
  color: #666;
  margin-bottom: 15px;
}

img {
  max-width: 50%;
  height: auto;
}

/* Estilos de encabezado y navegación */
header {
  background-color: #00425A;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  font-size: 15px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #EFF5F5;
  text-decoration: none;
  padding: 10px;
}

/* Estilos del pie de página */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FC7300;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos de la flecha de scroll hacia arriba */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #1F8A70;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

main {
  margin-top: 80px; /* Ajusta el valor según sea necesario */
  margin-left: 20px; /* Ajusta el valor según sea necesario */
}
