/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: -140px;
  margin-top: -60px;
  justify-content: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.text {
  margin-top: 20px;
  flex: 1;
}

h1 {
  color: #333;
  font-size: 24px;
}

p {
  color: #666;
  margin-bottom: 15px;
}

img {
  max-width: 50%;
  height: auto;
}

/* Estilos de encabezado y navegación */
header {
  background-color: #00425A;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Cambio a dirección de columna */
  justify-content: flex-start; /* Alineación al inicio */
  align-items: flex-start; /* Alineación al inicio */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; /* Ocupar todo el espacio vertical */
  z-index: 999;
  width: 80px; /* Ancho de la barra lateral */
  z-index: 10; /* Asegura que el header esté por debajo del footer */
}

nav {
  margin-top: 20px; /* Espacio entre el logo y las opciones de navegación */
}

nav a {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  color: #EFF5F5;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

/* Estilos de la barra de navegación miniatura para pantallas más pequeñas */
.mini-nav {
  display: none;
  background-color: #00425A;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.mini-nav ul {
  display: flex;
  justify-content: space-between;
}

.mini-nav a {
  color: #EFF5F5;
  text-decoration: none;
  padding: 10px;
}

/* Estilos del pie de página */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FC7300;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
  z-index: 20; /* Asegura que el footer esté por encima del header */
}

/* Estilos de la flecha de scroll hacia arriba */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #1F8A70;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

main {
  margin-left: 100px; /* Ajusta el valor según sea necesario */
  margin-top: 20px; /* Ajusta el valor según sea necesario */
  margin-right: 30px; /* Ajusta el valor según sea necesario */
}

section:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px; /* Espacio para la barra de navegación */
}

section:nth-child(5) form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  width: 100%;
  max-width: 400px;
}

section:nth-child(5) form label {
  font-weight: bold;
}

section:nth-child(5) form input,
section:nth-child(5) form textarea {
  width: 100%;
  padding: 5px;
}

section:nth-child(5) form button {
  background-color: #1F8A70;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Media queries para tablet (768px) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }

  /* Estilos de la barra de navegación responsive */
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 10px;
  }
}

/* Media queries para dispositivos con un ancho menor o igual a 682px */
@media (max-width: 2px) {
  /* Ocultar la barra de navegación original */
  nav {
    display: none;
  }

  /* Mostrar la barra de navegación en forma de lista vertical */
  .mini-nav {
    display: block;
  }

  .mini-nav ul {
    flex-wrap: wrap;
  }

  .mini-nav a {
    flex-basis: 50%;
    text-align: center;
  }

  main {
    margin-top: 40px; /* Ajusta el valor según sea necesario */
  }
}
.my-image1 {
  max-width: 40%;
  height: auto;
  margin-left: -50px; /* Ajusta el valor según sea necesario para mover la imagen hacia la derecha */
  margin-right: 20px; /* Ajusta el valor según sea necesario para mover la imagen hacia la izquierda */
  transition: margin-left 0.2s ease; /* Agrega una transición suave al movimiento de la imagen */
}

.my-image1:hover {
  margin-left: 0; /* Restablece el margen a 0 al pasar el cursor sobre la imagen */
}
